POSTGRES_HOST = postgres
POSTGRES_PORT = 5432
POSTGRES_DB =
POSTGRES_USER =
POSTGRES_PASSWORD =

LOG_LEVEL =

POSTGRES_HOST_TEST = postgres_test
POSTGRES_PORT_TEST = 5533
POSTGRES_DB_TEST =
POSTGRES_USER_TEST =
POSTGRES_PASSWORD_TEST =